<h3 class="text-secondary text-center">Search by:</h3>
<div class="container text-center">
 <mat-radio-group [(ngModel)]="value">
  <mat-radio-button value="1">By date</mat-radio-button>
  <mat-radio-button value="2">By name</mat-radio-button>
  <mat-radio-button value="3">By description</mat-radio-button>
 </mat-radio-group>
</div>
<hr />
<mat-form-field class="container">
 <input [(ngModel)]="content" type="tel" matInput placeholder="Search" />
</mat-form-field>
<div class="container text-center">
 <button mat-raised-button color="warn" (click)="search()">Search</button>
</div>

<div class="container mt-10">
 <p class="text-secondary text-center"><i>Results will apear here...</i></p>
</div>
<ul *ngIf="_search.ws !== undefined">
 <li><strong>Xmin: </strong>{{ _search.ws.x_min }}</li>
 <li><strong>Ymin: </strong>{{ _search.ws.y_min }}</li>
 <li><strong>Xmax: </strong>{{ _search.ws.x_max }}</li>
 <li><strong>Ymax: </strong>{{ _search.ws.y_max }}</li>
 <li><strong>Width: </strong>{{ _search.ws.width }}</li>
 <li><strong>Height: </strong>{{ _search.ws.height }}</li>

 <div class="container text-center">
    <button mat-button (click)="reload()"><mat-icon>play_arrow</mat-icon></button>
 </div>
</ul>
