<h2>Grant permissions to users for select </h2>
<form class="text-center">
  <mat-form-field>
    <mat-select [(ngModel)]="selectedUser" name="selectedUser" placeholder="User" >
      <mat-option *ngFor="let user of _admin_manager.users" [value]="user">
        {{user.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>  
  <hr>  
  <h1>Grant permissions</h1>
  <mat-form-field>
    <mat-select [(ngModel)]="selectedTable" name="selectedTable" placeholder="Tables" >
      <mat-option *ngFor="let table of _admin_manager.tables" [value]="table">
        {{table.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>  
  <button mat-button (click)="grantPermission(selectedTable.name,selectedUser.name)">Grant</button>
  <hr>

</form>
