<form
  class="container text-center"
  [formGroup]="layerGroup"
  (ngSubmit)="onSubmit()"
>
  <mat-form-field>
    <input
      color="secondary"
      matInput
      type="text"
      [formControl]="layerGroup.get('host')"
      placeholder="Host"
    />
  </mat-form-field>
  <mat-form-field>
    <input
      color="secondary"
      [formControl]="layerGroup.get('port')"
      matInput
      type="number"
      placeholder="Port"
    />
  </mat-form-field>
  <mat-form-field>
    <input
      color="secondary"
      matInput
      type="text"
      [formControl]="layerGroup.get('dbname')"
      placeholder="DB name"
    />
  </mat-form-field>
  <mat-form-field>
    <input
      color="secondary"
      matInput
      type="text"
      [formControl]="layerGroup.get('user')"
      placeholder="User"
    />
  </mat-form-field>
  <mat-form-field>
    <input
      color="secondary"
      matInput
      type="text"
      [formControl]="layerGroup.get('password')"
      placeholder="Password"
    />
  </mat-form-field>
  <mat-form-field>
    <input matInput [(colorPicker)]="color" [style.background]="color" />
  </mat-form-field>
  <mat-form-field>
    <input
      color="secondary"
      matInput
      type="text"
      [formControl]="layerGroup.get('schema')"
      placeholder="Schema"
      value="public"
    />
  </mat-form-field>
  <mat-form-field>
    <input
      color="secondary"
      matInput
      type="text"
      [formControl]="layerGroup.get('tablename')"
      placeholder="Table name"
    />
  </mat-form-field>
  <mat-slider
    [max]="10"
    [min]="0"
    [step]="1"
    [thumbLabel]="thumbLabel"
    [tickInterval]="tickInterval"
    [(ngModel)]="value"
    [ngModelOptions]="{standalone: true}"
    [vertical]="vertical"
  >
  </mat-slider>
  <div class="container text-center">
    <button (click)="addLayer()" mat-stroked-button>
      <mat-icon>done</mat-icon>
    </button>
  </div>
</form>
