<nav id="main-nav" class="shadow navbar bg-white navbar-light mb-5">
  <a id="logo" class="navbar-brand pull-left text-center" href="/">
    P3DB2
  </a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link" (click)="openLocal()">Local Connection - User Creation</a>
      <a class="nav-item nav-link" (click)="openConnectionDialog()">DB link Connection</a>
      <a class="nav-item nav-link" (click)="openStatisticDialog()">Statistics</a>
      <a class="nav-item nav-link" (click)="openPermitsDialog()">Permits</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" (click)="openSaveDialog()">
        <mat-icon>save</mat-icon>
      </a>
      <a class="nav-item nav-link" (click)="dialogManager.openLoadWorkspaceComponent()">
        <mat-icon>filter_hdr</mat-icon>
      </a>
      <a class="nav-item nav-link" (click)="_session.logout()">
        <mat-icon>keyboard_return</mat-icon>
      </a>
    </div>
  </div>
</nav>
<app-map></app-map>