<form [formGroup]="saveWsGroup" (ngSubmit)="onSubmit()">
  <h3 class="text-center">Save workspace</h3>
  <hr>
  <mat-form-field class="container">
    <input matInput [formControl]="saveWsGroup.get('name')" type="text" placeholder="WS name">
  </mat-form-field>
  <mat-form-field class="container">
    <input matInput [formControl]="saveWsGroup.get('date')" [matDatepicker]="picker" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field class="container">
    <textarea matInput [formControl]="saveWsGroup.get('description')" placeholder="Description"></textarea>
  </mat-form-field>
  <div class="container text-center">
    <button mat-stroked-button type="submit" [disabled]="!saveWsGroup.valid"><mat-icon>done_outline</mat-icon></button>
  </div>
</form>