<form class="container" [formGroup]="localGroup" (ngSubmit)="onSubmit()">
  <div class="container text-center">
    <mat-radio-group>
      <mat-radio-button class="m-2" value="1">Login</mat-radio-button>
      <mat-radio-button class="m-2" value="2">Create user</mat-radio-button>
    </mat-radio-group>
  </div>
  <mat-form-field>
    <input color="secondary" [formControl]="localGroup.get('username')" matInput type="text" placeholder="Username">
  </mat-form-field> 
  <mat-form-field>
    <input color="secondary" [formControl]="localGroup.get('password')" matInput type="password" placeholder="Password">
  </mat-form-field> 
  <hr>
  <div class="container text-center">
    <button type="submit" mat-raised-button color="accent"><mat-icon>power_settings_new</mat-icon></button>
  </div>
</form>