<h2 class="text-center">Statistics of database</h2>

<hr>
<h3>Geography tables size</h3>
<div>
    <mat-form-field >
        <mat-select [(ngModel)]="seleccionada" placeholder="Select geography table">
            <mat-option  *ngFor="let table of _admin_manager.tables" [value]="table">
            {{table.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-button (click)="getTableSize(seleccionada.name)" >Consult</button>
    <p>Table name:{{tableN}}</p> 
    <br>
    <p>Size:  {{_admin_manager.tableSize.size}}</p>
    <hr>
    <h3>User tables size</h3>
    <p>Table name: users</p> 
    <p>Size:</p>
    <hr>
    <h3>Index tables size</h3>
    <button mat-button  >Do</button>
    <p>Table name: index users</p> 
    <p>  Size: {{_admin_manager.userTableSize.size}}</p>
</div>

