<h2 class="text-center">Statistics of database</h2>
<hr>



<mat-tab-group>
    <mat-tab label="Size of geography tables">
        <table id="listElements" class="container">
            <tr>
                <th>Table name    </th>
                <th>Size     </th> 
            </tr>
            <tr>
                <td>Jill</td>
                <td>Smith</td> 
            </tr>
            <tr>
                <td>Eve</td>
                <td>Jackson</td> 
            </tr>
        </table>
    </mat-tab>
    <mat-tab label="Size of user tables">
            <table id="listElements" class="container">
                <tr>
                    <th>Table name    </th>
                    <th>Size     </th> 
                </tr>
                <tr>
                    <td>Jill</td>
                    <td>Smith</td> 
                </tr>
                <tr>
                    <td>Eve</td>
                    <td>Jackson</td> 
                </tr>
            </table>
        </mat-tab>
    <mat-tab label="Size of index">
        <table id="listElements" class="container">
            <tr>
                <th>Index name    </th>
                <th>Size     </th> 
            </tr>
            <tr>
                <td>Jill</td>
                <td>Smith</td> 
            </tr>
            <tr>
                <td>Eve</td>
                <td>Jackson</td> 
            </tr>
        </table>
    </mat-tab>
</mat-tab-group>
